@page
@model Drone.App.Frontend.Pages.asignarPedidosModel
@{
}

<head>
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-     F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-           Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
</head>
<body>

    <style>
        .custom_form{

         background-color: rgb(250, 250, 250);
         padding: 35px;
         margin: 15px;
            
        }

        h1{
            padding-bottom: 15px;
            padding-top: 15px;
        }

        .DroneLogo{

            padding-left: 10px;
        }
        

    </style>

<!-- Inicio tabla encargados -->

<h1>Lista de encargados</h1>

<table class="table">
    @{foreach (var encargado in Model.Encargados)
    {
        <tr>
            <td>@encargado.Id</td>
            <td>@encargado.Nombre</td>
            <td>@encargado.Telefono</td>
            <td>@encargado.Ciudad</td>

            <td>
                <a class="btn btn-primary table btn" asp-page="./infoE" asp-route-encargadoId="@encargado.Id" > 
                <i class="fas fa-info-circle" ></i>
                Info
                </a>
            </td>

            <td>
                <a class="btn btn-primary table btn" asp-page="./editarEncargado" asp-route-encargadoId="@encargado.Id" > 
                <i class="fas fa-info-circle" ></i>
                Editar
                </a>
            </td>

        </tr>
    }}
</table>

<a asp-page="./editarEncargado" class="btn btn-primary">Registrar un encargado</a>

<!-- End tabla encargados -->


        
<!-- asignar pedido -->

    <form class= "custom_form col-md-4" id= "registerForm">

            
        <h1>Asignación de Pedido</h1>
   
            <div class="mb-3">
                <label for="validarTema">Seleccione el Encargado:<span class="red">*</span></label>
                <select class="custom-select" id="validarTema" name="validarTema" required>
                    <option selected disabled value="">Selecciona:</option>
                    @{foreach(var encargado in Model.Encargados)
                    {
                        <option value="@encargado.Id"> @encargado.Nombre, @encargado.Id</option>
                    }}
                </select>
            </div>  


        
            <div class="mb-3">
                <label for="validarTema">Seleccione el Pedido:<span class="red">*</span></label>
                <select class="custom-select" id="validarTema" name="validarTema" required>
                    <option selected disabled value="">Selecciona...</option>
                    <option value="Problema con acceso a Web">Pedido N02003</option>
                    <option value="Propuesta de colaboración">Pedido N02005</option>     
                </select>
            </div>  
            
            <button type="submit" class="btn btn-primary">Asignar Pedido</button>
            
    </form>

</div>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</body>