@page
@model Drone.App.Frontend.Pages.infoEModel
@{
}

<h1>Detalles e información de encargado: @Model.Encargado.Nombre</h1>
<p>Id @Model.Encargado.Id</p>
<p>Ciudad: @Model.Encargado.Ciudad</p>
<p>Nombre @Model.Encargado.Nombre</p>
<p>Apellido @Model.Encargado.Apellido</p>
<p>Cedula: @Model.Encargado.Cedula</p>
<p>Teléfono: @Model.Encargado.Telefono</p>
<p>Correo: @Model.Encargado.Correo</p>

<a href="./editarEncargado">Atrás</a>
